
:root

  --dark-primary-hue 210

  --base-font "Public Sans", sans-serif

  --brand-color oklch(67.08% 0.0997 209.74)

  --light-primary-background oklch( .9 0 0 )
  --light-primary-foreground oklch( .05 0 0 )
  --light-primary-accent oklch( .1 0 0 )
  --light-primary-highlight oklch( .2 0 0 )
  --light-primary-success oklch( 0.7 0.2 160 )
  --light-primary-info oklch( 0.7 0.2 260 )
  --light-primary-warning   oklch( 0.7 0.3 80 )
  --light-primary-failure oklch( 0.5 0.3 80 )

  --dark-primary-background oklch( .1 0 0 )
  --dark-primary-foreground oklch( .8 0 0 )
  --dark-primary-accent oklch( .8 0.1 var(--dark-primary-hue))
  --dark-primary-highlight oklch( .8 0.1 var(--dark-primary-hue))
  --dark-primary-success oklch( 0.8 0.1 180 )
  --dark-primary-info oklch( 0.8 0.1 215 )
  --dark-primary-warning oklch( 0.8 0.1 90 )
  --dark-primary-failure oklch( 0.8 0.1 315 )

  --light-secondary-background oklch( .9 0 0 )
  --light-secondary-foreground oklch( .05 0 0 )
  --light-secondary-accent oklch( .1 0 0 )
  --light-secondary-highlight oklch( .2 0 0 )
  --light-secondary-success var(--light-primary-success)
  --light-secondary-info var(--light-primary-info)
  --light-secondary-warning var(--light-primary-warning)
  --light-secondary-failure var(--light-primary-failure)

  --dark-secondary-background oklch( .1 0 0 )
  --dark-secondary-foreground oklch( .8 0 0 )
  --dark-secondary-accent oklch(0.5 0.1 153.12)
  --dark-secondary-highlight oklch(0.7 0.1 153.12)
  --dark-secondary-success oklch(0.7 0.1 180)
  --dark-secondary-info var(--dark-primary-info)
  --dark-secondary-warning var(--dark-primary-warning)
  --dark-secondary-failure var(--dark-primary-failure)

  --light-tertiary-background oklch( .9 0 0 )
  --light-tertiary-foreground oklch( .05 0 0 )
  --light-tertiary-accent oklch( .1 0 0 )
  --light-tertiary-highlight oklch( .2 0 0 )
  --light-tertiary-success var(--light-primary-success)
  --light-tertiary-info var(--light-primary-info)
  --light-tertiary-warning var(--light-primary-warning)
  --light-tertiary-failure var(--light-primary-failure)

  --dark-tertiary-background oklch( .1 0 0 )
  --dark-tertiary-foreground oklch( .8 0 0 )
  --dark-tertiary-accent oklch(0.5 0.1 312.1)
  --dark-tertiary-highlight oklch(0.7 0.1 312.1)
  --dark-tertiary-success oklch(0.7 0.1 160)
  --dark-tertiary-info var(--dark-primary-info)
  --dark-tertiary-warning var(--dark-primary-warning)
  --dark-tertiary-failure var(--dark-primary-failure)
